@page "/piverify/unselected"
@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Models
@inject UserContextService UserContext
@inject IDbContextFactory<mainContext> DbFactory
@inject DialogService DialogService
@inject NavigationManager Nav
<h3>Select Patient from Below to Add to Private Insurance Verification Que</h3>
<RadzenButton Icon="cancel" Text="Cancel" Click="@(() => Nav.NavigateToRelative(fromParent: true))" ButtonStyle="ButtonStyle.Base" />
<RadzenPanel Collapsed="collapsed" AllowCollapse="true">
	<HeaderTemplate>
		<div @onclick="@(() => collapsed = !collapsed)" class="rz-w-100 rz-h-100 rz-my-0 rz-py-0">
			<strong>@(collapsed ? "Search Settings (Click to Expand)" : "Search Settings:")</strong>
		</div>
	</HeaderTemplate>
	<ChildContent>
		<RadzenCheckBoxList TValue="PiPatientSetting" @bind-Value="selectedSettings" Orientation="Orientation.Vertical"
		Change="@(() => GridModel.ReloadAsync())" class="rz-mt-2">
			<Items>
				<RadzenCheckBoxListItem Text="Only Patients With Rx Filled in Past 365 Days" Value="PiPatientSetting.OnlyRecentRx" />
				<RadzenCheckBoxListItem Text="Only Patients Not in Already in Que" Value="PiPatientSetting.OnlyUnselected" />
				<RadzenCheckBoxListItem Text="Only Patients with Selected Insurance Status:" Value="PiPatientSetting.FilterByInsurance" />
				<RadzenCheckBoxListItem Text="Uninsured" Value="PiPatientSetting.Uninsured" Style="margin-left: 1.5rem;" 
				Disabled="!filterByInsurance" />
				<RadzenCheckBoxListItem Text="Expired Insurance" Value="PiPatientSetting.ExpiredInsurance" Style="margin-left: 1.5rem;" 
										Disabled="!filterByInsurance" />
			</Items>
		</RadzenCheckBoxList>
	</ChildContent>
</RadzenPanel>
<DataGridVanilla TItem="Patient" GridModel="GridModel" RowSelect="@(x => Send(x))">
	<RadzenDataGridColumn TItem="Patient">
		<Template Context="x">
			@($"{x?.Name} ({x?.ChartNumber}) DOB: {x?.Dob:d}")
		</Template>
	</RadzenDataGridColumn>
</DataGridVanilla>
@code {
	bool collapsed = true;
	public enum PiPatientSetting
	{
		OnlyRecentRx,
		OnlyUnselected,
		FilterByInsurance,
		Uninsured,
		ExpiredInsurance
	}
	IEnumerable<PiPatientSetting> selectedSettings = new[] { 
		PiPatientSetting.OnlyRecentRx, 
		PiPatientSetting.OnlyUnselected, 
		PiPatientSetting.FilterByInsurance,
		PiPatientSetting.Uninsured,
		PiPatientSetting.ExpiredInsurance
	};
	HashSet<PiPatientSetting> settingsHash => selectedSettings.ToHashSet();
	bool filterByInsurance => settingsHash.Contains(PiPatientSetting.FilterByInsurance);
	DataGridHelper<Patient> GridModel = new()
	{
		SearchColumns = new[] { nameof(Patient.Name), nameof(Patient.ChartNumber)},
		ShowDownloadButton = false,
		ShowColumnHeaders = false,
		AllowColumnPicking = false,
		AllowColumnReorder = false,
		AllowGrouping = false,
		AllowFiltering = false,
		AllowSorting = false,
		ShowTemplates = false,
		SearchTextPlaceholder = "Search by Name or Chart#"
	};
	protected override void OnInitialized()
	{
		GridModel.QueryFactory = db =>
		{
			var settings = settingsHash;
			var yearAgo = DateTime.Now.AddDays(-365);
			var qry = db.Patients.Where(x => x.ChartNumber != null && x.ChartNumber != "");
			if (settings.Contains(PiPatientSetting.OnlyUnselected))
				qry = qry.Where(x => !x.PiVerifications.Any());
			if (settings.Contains(PiPatientSetting.OnlyRecentRx))
				qry = qry.Where(x => !x.RxFills.Any(y => y.ReleasedDateTime >= yearAgo));

			if (settings.Contains(PiPatientSetting.FilterByInsurance))
			{
				var uninsured = settings.Contains(PiPatientSetting.Uninsured);
				var expired = settings.Contains(PiPatientSetting.ExpiredInsurance);
				var today = DateTime.Today.DateOnly;
				if (uninsured && expired)
				{
					qry = qry.Where(x =>
						!x.Insurances.Any() ||
						(
							x.Insurances.Any() &&
							!x.Insurances.Any(i => i.ExpirationDate == null || i.ExpirationDate > today)
						));
				}
				else if (uninsured)
				{
					qry = qry.Where(x => !x.Insurances.Any());
				}
				else if (expired)
				{
					qry = qry.Where(x =>
						x.Insurances.Any() &&
						!x.Insurances.Any(i => i.ExpirationDate == null || i.ExpirationDate > today));
				}
			}

			qry = qry.OrderBy(x => x.Name);
			return qry;
		};
	}
	private async Task Send(AutoCAC.Models.Patient selected)
	{
		var existingRecord = await DbFactory.GetByExpressionAsync<PiVerification>(x => x.PatientId == selected.Id);
		if (existingRecord != null)
		{
			var continueAnyway = await DialogService.YesNoDialog("Patient already exists. Click yes to create a new record anyway. Click no to view existing record.", "Duplicate");
			if (continueAnyway != true)
			{
				Nav.NavigateTo(Nav.GetPath(existingRecord.Id.ToString(), fromParent: true));
				return;
			}
		}
		var piVerification = new Models.PiVerification
		{
			PatientId = selected.Id,
			CreatedAt = DateTime.Now,
			LastModified = DateTime.Now,
			CreatedBy = UserContext.Username,
			CurrentStatus = "New"
		};
		var dbRecord = await DbFactory.AddItemAsync(piVerification);
		Nav.NavigateTo(Nav.GetPath(dbRecord.Id.ToString(), fromParent: true));
	}
}
