@page "/supervisor/dashboard"
@using AutoCAC.Components.Templates.CardLists
@using AutoCAC.Models
@inject IDbContextFactory<mainContext> DbFactory

<RadzenStack Orientation="Orientation.Horizontal">
	<RadzenDatePicker ShowTime="false" @bind-Value="@startDate" Change="@(() => LoadKpi())"/>
	<span>to</span>
	<RadzenDatePicker ShowTime="false" @bind-Value="@endDate" Change="@(() => LoadKpi())" />
</RadzenStack>

<RadzenCard>
	<h4>Key Performance Indicators</h4>
	<LoadingContent LoadState="@(kpiData == null ? LoadStates.Loading : LoadStates.Loaded)">
		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Stretch" Wrap="FlexWrap.Wrap">
			<RadzenCard><span>Total Revenue: </span><strong>@kpiData.Paid.ToString("C")</strong></RadzenCard>
			<RadzenCard><span>Total Billed: </span><strong>@kpiData.Billed.ToString("C")</strong></RadzenCard>
			<RadzenCard><span>Total Profit/Loss: </span><strong>@kpiData.Profit.ToString("C")</strong></RadzenCard>
		</RadzenStack>
	</LoadingContent>
</RadzenCard>
@code{
	private DateOnly startDate;
	private DateOnly endDate;
	private DateTime startDateTime => startDate.ToDateTime(TimeOnly.MinValue);
	private DateTime endDateTime => endDate.AddDays(1).ToDateTime(TimeOnly.MinValue);
	private sealed class KpiDataDto
	{		
		public double Paid;
		public double Billed;
		public double Profit => Paid - Billed;
	}
	protected override void OnInitialized()
	{
		var today = DateOnly.FromDateTime(DateTime.Now);
		startDate = today.AddDays(-60);
		endDate = today;
	}
	private KpiDataDto kpiData;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadKpi();
		}
	}
	async Task LoadKpi()
	{
		kpiData = null;
		StateHasChanged();
		await using var db = await DbFactory.CreateDbContextAsync();
		kpiData = await db.VwBillingRxes
					.Where(x => x.LastUpdate >= startDateTime && x.LastUpdate < endDateTime)
					.GroupBy(_ => 1)
					.Select(x => new KpiDataDto
					{
						Paid = x.Sum(a => a.TotalPaid) ?? 0,
						Billed = x.Sum(a => a.TotalBilled) ?? 0
					})
					.SingleOrDefaultAsync()
					;
		StateHasChanged();
	}
}