@page "/wardstock/{Id:int}"
@using AutoCAC.Models
@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Services
@inject IDbContextFactory<mainContext> DbFactory
@inject NavigationManager Nav
@inject UserContextService UserContext
@inject NotificationService NotificationService
@inject IJSRuntime JS
@inject DialogService DialogService
<LoadingContent IsLoading="@(!pageLoaded)">
	@if(UserType == "unauthorized")
	{
		<span>You are not authorized to view this page</span>
	}
	else
	{
		<h3>@($"Order for {pageItem?.Location?.LocationName}; Current Status: {pageItem?.Status}")</h3>
		<RadzenTemplateForm TItem="WardstockOrder" Data="@pageItem" Submit="@OnSubmit">
			@if(UserType != "tech" && (pageItem.Status is ("Create" or "Edit")))
			{				
				<RadzenButton Text="Add Item To Order" Icon="add" Click="@AddItemClick"/>
			}
			<h4>@($"Items in order for {pageItem?.Location?.LocationName}")</h4>
			@foreach(var item in selectedItems)
			{
				<RadzenRow>
					<RadzenColumn Size="2">
						<RadzenLabel Text="@item?.Item?.Drug?.Name" Style="width: 100%;" />
					</RadzenColumn>
					<RadzenColumn Size="4">
						<RadzenLabel Text="@($"Qty Ordered (Par: {item?.Item?.Par})")" Style="width: 50%"/>
						<RadzenNumeric TValue="double?" @bind-Value="@item.QtyOrdered" 
										Disabled="@(UserType == "tech" || (pageItem?.Status is not ("Create" or "Edit")))"
										Min="0" Style="width: 50%" />
					</RadzenColumn>
					<RadzenColumn Size="4">
						<RadzenLabel Text="Qty Filled" Style="width: 50%" />
						<RadzenNumeric TValue="double?" @bind-Value="@item.QtyFilled" 
										Disabled="@(UserType == "nurse" || (pageItem.Status is not ("Submit" or "Filled" or "Checked")))"
							Min="0" Style="width: 50%" />
					</RadzenColumn>
					<RadzenColumn Size="1" >
						<RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => OnDeleteClick(item))" Disabled="@(UserType == "tech")" />
					</RadzenColumn>
				</RadzenRow>
			}
			<VanillaFormField Label="Remarks">
				<RadzenTextArea @bind-Value="@pageItem.Comments" style="width: 100%" />
			</VanillaFormField>
			@if(UserType == "super")
			{
				<RadzenButton ButtonStyle="ButtonStyle.Warning" Text="Send Back" ButtonType="ButtonType.Button" Click="@OnSendBack" Icon="undo" />
			}
			<RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Button" Click="@OnSaveOnly" Text="Save Changes Without Submitting" />
			<StandardButtons />
		</RadzenTemplateForm>
		<RadzenButton Text="Print Order"
					  Click="@(() => JS.PrintByIdVanilla("wardstockItemsDiv"
							  	  , printHeader: pageItem?.Location?.LocationName))" />
		<div id="wardstockItemsDiv" style="visibility: hidden;">
			<ul>
				@foreach(var printItem in selectedItems)
				{
					<li>@($"{printItem?.Item?.Drug?.Name}: {printItem?.QtyOrdered} ordered ({printItem?.QtyFilled} filled)")</li>
				}
			</ul>
		</div>
	}
</LoadingContent>
	@code {
	[Parameter] public int Id { get; set; }
	private bool pageLoaded = false;
	private WardstockOrder pageItem;
	private List<AutoCAC.Models.WardstockItem> allAllowedItems { get; set; }
	private List<AutoCAC.Models.WardstockOrderitem> selectedItems { get; set; }
	private string searchText = "";
	private string UserType { get; set; }
	private List<string> statusChoices = new List<string>{ "Create", "Edit", "Submit", "Filled", "Checked", "Complete" };
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		await using var db = await DbFactory.CreateDbContextAsync();
		pageItem = await db.WardstockOrders
							.Include(x => x.Location)
							.Include(x => x.WardstockOrderitems)
								.ThenInclude(x => x.Item)
									.ThenInclude(x => x.Drug)
							.FirstOrDefaultAsync(x => x.Id == Id);
		if (UserContext.IsInGroupOrSuperuser("PharmacyTechSupervisor", "PharmacistSupervisor"))
		{
			UserType = "super";
		}
		else if (UserContext.IsInGroup("PharmacyTech"))
		{
			UserType = "tech";
		}
		else
		{
			var userLocations = await db.WardstockUserlocations.AnyAsync(x => x.LocationId == pageItem.LocationId && x.AuthUserId == UserContext.UserProfile.Id);
			if (userLocations) UserType = "nurse";
			else UserType = "unauthorized";
		}
		allAllowedItems = await db.WardstockItems
							.Where(x => x.LocationId == pageItem.LocationId)
							.Include(x => x.Drug)
							.ToListAsync();
		selectedItems = pageItem.WardstockOrderitems.ToList();
		pageLoaded = true;
		StateHasChanged();
	}

	private async Task LoadOrderItems()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		allAllowedItems = await db.WardstockItems
							.Where(x => x.LocationId == pageItem.LocationId)
							.Include(x => x.Drug)
							.ToListAsync();
		selectedItems = pageItem.WardstockOrderitems.ToList();
	}

	private async Task LoadPageItem()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		pageItem = await db.WardstockOrders
							.Include(x => x.Location)
							.Include(x => x.WardstockOrderitems)
								.ThenInclude(x => x.Item)
									.ThenInclude(x => x.Drug)
							.FirstOrDefaultAsync(x => x.Id == Id);
	}
	private Func<AutoCAC.Models.mainContext, IQueryable<AutoCAC.Models.Drug>> Qry =>
		db =>
		{
			var curLst = selectedItems.Select(x => x.ItemId).ToHashSet();
			return db.WardstockItems
				.Include(x => x.Drug)
				.Where(x => x.LocationId == pageItem.LocationId && !curLst.Contains(x.Id))
				.Select(x => x.Drug)
				.AsQueryable();
		};

	private async Task AddItemClick()
	{
		var selectedDrug = await DialogService.DataGridSelectAsync<Drug>(
						Qry, new[] { "Name" }
						, searchColumns: new[] { "Name"}
						);
		if (selectedDrug == null) return;
		var selectedItem = allAllowedItems.FirstOrDefault(x => x.DrugId == selectedDrug.Id);
		var newOrderItem = new WardstockOrderitem
			{
				OrderId = Id,
				ItemId = selectedItem.Id,
				Item = selectedItem
			};
		selectedItems.Add(newOrderItem);
	}

	private async Task SaveChanges()
	{
		selectedItems = selectedItems.Distinct().ToList();
		await DbFactory.UpdateItemAsync(pageItem);
		await using var db = await DbFactory.CreateDbContextAsync();
		var dbItems = await db.WardstockOrderitems.Where(x => x.OrderId == Id)
						.Include(x => x.Item)
							.ThenInclude(x => x.Drug)
						.AsNoTracking()
						.ToListAsync();
		var updatedRows = dbItems
							.Join(selectedItems, a => a.Id, b => b.Id, (a, b) => new { a, b })
							.Where(x => x.a.QtyFilled != x.b.QtyFilled || x.a.QtyOrdered != x.b.QtyOrdered)
							.Select(x => x.b)
							.ToList();
		var idsDb = dbItems.Select(x => x.ItemId).ToHashSet();
		var idsCurrent = selectedItems.Select(x => x.ItemId).ToHashSet();
		var onlyDb = dbItems.Where(x => !idsCurrent.Contains(x.ItemId));
		var onlyCurrent = selectedItems.Where(x => !idsDb.Contains(x.ItemId));
		if (updatedRows.Any())
		{
			foreach(var u in updatedRows)
			{
				await db.UpdateItemAsync(u);
			}
		}
		if (onlyDb.Any())
		{
			foreach(var d in onlyDb)
			{
				await db.DeleteItemAsync(d);
			}
		}
		if (onlyCurrent.Any())
		{
			foreach (var a in onlyCurrent)
			{
				await db.AddItemAsync(a);
			}
		}
		await db.SaveChangesAsync();
		NotificationService.Success("Changes Saved");
	}

	private async Task OnSaveOnly()
	{
		//statusChoices = new List<string> { "Create", "Edit", "Submit", "Filled", "Checked", "Complete" } add ReadyForPickup
		//change
		if (pageItem.Status == "Create")
		{
			pageItem.Status = "Edit";
		}
		await SaveChanges();
		await LoadPageItem();
		await LoadOrderItems();
		StateHasChanged();
	}

	private async Task OnSendBack()
	{
		//statusChoices = new List<string> { "Create", "Edit", "Submit", "Filled", "Checked", "Complete" }
		if (pageItem.Status == "Create") return;
		pageItem.Status = statusChoices.Previous(pageItem.Status);
		try
		{			
			await DbFactory.UpdateItemAsync(pageItem);
		}
		catch
		{
			NotificationService.Error();
			return;
		}
		NotificationService.Success($"Successfully updated status to {pageItem.Status}");
		var activity = new WardstockActivitylog
		{
			AuthUserId = UserContext.UserProfile.Id,
			WardstockOrderId = Id,
			ActivityAt = DateTime.Now,
			Remarks = $"Status Changed to {pageItem.Status}"
		};
		await DbFactory.UpdateItemAsync(activity);
		StateHasChanged();
	}

	private async Task OnSubmit()
	{
		bool statusChanged = false;
		if (pageItem.Status == "Create")
		{
			pageItem.Status = "Submit";
			statusChanged = true;
		}
		else if(pageItem.Status != "Complete")
		{
			pageItem.Status = statusChoices.Next(pageItem.Status);
			statusChanged = true;
		}
		await SaveChanges();
		if (statusChanged)
		{
			var activity = new WardstockActivitylog
				{
					AuthUserId = UserContext.UserProfile.Id,
					WardstockOrderId = Id,
					ActivityAt = DateTime.Now,
					Remarks = $"Status Changed to {pageItem.Status}"
				};
			await DbFactory.UpdateItemAsync(activity);
		}
		Nav.NavigateToRelative(fromParent: true);
	}
	private async Task OnDeleteClick(WardstockOrderitem item)
	{
		selectedItems.Remove(item);
	}
}
