@page "/wardstock/{Id:long}"
@using AutoCAC.Models
@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Components.Templates.Printing
@using AutoCAC.Services
@inject IDbContextFactory<mainContext> DbFactory
@inject NavigationManager Nav
@inject UserContextService UserContext
@inject NotificationService NotificationService
@inject IJSRuntime JS
@inject DialogService DialogService
@using AutoCAC.Components.Templates.Buttons

<BackLink />
<LoadingContent IsLoading="@(!pageLoaded)">
	@if(UserType == UserTypes.unauthorized)
	{
		<span>You are not authorized to view this page</span>
	}
	else
	{
		<h3>@($"Order for {pageItem?.Location?.LocationName}; Current Status: {pageItem?.Status}")</h3>
		<DataGridEditable TItem="WardstockOrderitem" GridModel="GridModel" AddAction="AddItemClick"
			DisableDeletePredicate="@(x => UserType != UserTypes.super)" >
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="WardstockItem.Item.Drug.Name" 
			Title="Drug"/>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="QtyOrdered" Title="QtyOrdered"
								  >
				<EditTemplate Context="item">
					<RadzenNumeric TValue="double?" @bind-Value="@item.QtyOrdered"
								   Disabled="@(UserType == UserTypes.tech || pageItem?.StatusEnum != WardstockOrderStatus.New)"
								   Min="0" Max="(decimal?)item?.Item?.Par ?? 0" Style="width: 100%" />
				</EditTemplate>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="QtyFilled" Title="QtyFilled"
								  >
				<EditTemplate Context="item">
					<RadzenNumeric TValue="double?" @bind-Value="@item.QtyFilled"
								   Disabled="@(UserType == UserTypes.nurse || 
									(pageItem.StatusEnum is not (
										WardstockOrderStatus.Submitted 
										or WardstockOrderStatus.Filled or WardstockOrderStatus.Checked)))"
								   Min="0" Style="width: 100%" />
				</EditTemplate>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="Lot" Title="Lot" 
							  />
		</DataGridEditable>
			<ChatTemplate TItem="WardstockComment" LoadData="LoadCommentsAsync" GetUser="@(x => x.AuthUser.Username)"  
					GetMessage="@(x => x.Comment)" GetTimestamp="@(x => x.CreatedAt)" GetMessageId="@(x => x.Id.ToString())"
					CreateMessage="CreateComment"
			/>
		<PrintContent>
			<h4>@($"Order for {pageItem?.Location?.LocationName}")</h4>
			@if (orderedItems != null)
			{
				<RadzenDataGrid TItem="WardstockOrderitem" Data="orderedItems" >
					<Columns>
						<RadzenDataGridColumn Property="Item.Drug.Name" Title="Drug" />
						<RadzenDataGridColumn Property="QtyOrdered" Title="QtyOrdered" />
						<RadzenDataGridColumn Property="QtyFilled" Title="QtyFilled" />
					</Columns>
				</RadzenDataGrid>
			}
			<h5>Comments:</h5>
			@if (comments != null)
			{
				foreach(var c in comments)
				{
					<p><span>@c?.Comment</span>
						<i><small>@($@"{
								(!string.IsNullOrWhiteSpace(c?.AuthUser?.LastName) ?
									$"{c?.AuthUser?.LastName}, {c?.AuthUser?.FirstName}" :
									c?.AuthUser?.Username)} @")</small><small>@c?.CreatedAt</small></i>
					</p>
				}
			}

		</PrintContent>
		@if(UserType == UserTypes.super)
		{
			<RadzenButton ButtonStyle="ButtonStyle.Warning" Text="Send Back" Click="@OnSendBack" Icon="undo" />
		}
		<RadzenButton Text="Submit" Click="@OnSubmit" Icon="check" Disabled="@(pageItem?.IsLastStatus == true)" />
		<PrintButton BeforePrint="BeforePrint" />
	}
</LoadingContent>
<BackLink />
	@code {
	[Parameter] public long Id { get; set; }
	private bool pageLoaded = false;
	private WardstockOrder pageItem;
	private List<AutoCAC.Models.WardstockItem> allAllowedItems { get; set; }
	private IEnumerable<WardstockOrderitem> orderedItems;
	private IEnumerable<WardstockComment> comments;
	private enum UserTypes
	{
		super,
		tech,
		nurse,
		unauthorized
	}
	private UserTypes UserType { get; set; }
	private DataGridHelper<AutoCAC.Models.WardstockOrderitem> GridModel = new()
		{
			AllowFiltering = false,
			AllowSorting = false,
			AllowGrouping = false,
			AllowColumnReorder = false
		};
	protected override void OnInitialized()
	{
		GridModel.QueryFactory = db => db.WardstockOrderitems
				.Where(x => x.OrderId == Id)
				.Include(x => x.Item)
					.ThenInclude(x => x.Drug)
				.AsQueryable();
	}  
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		await using var db = await DbFactory.CreateDbContextAsync();
		await LoadPageItem(db);
		allAllowedItems = await db.WardstockItems
							.Include(x => x.Drug)
							.Where(x => x.LocationId == pageItem.LocationId).ToListAsync();
		if (UserContext.IsInGroupOrSuperuser("PharmacyTechSupervisor", "PharmacistSupervisor"))
		{
			UserType = UserTypes.super;
		}
		else if (UserContext.IsInGroup("PharmacyTech"))
		{
			UserType = UserTypes.tech;
		}
		else
		{
			var userLocations = await db.WardstockUserlocations.AnyAsync(x => x.LocationId == pageItem.LocationId && x.AuthUserId == UserContext.UserProfile.Id);
			if (userLocations) UserType = UserTypes.nurse;
			else UserType = UserTypes.unauthorized;
		}
		pageLoaded = true;
		StateHasChanged();
	}

	private async Task LoadPageItem(mainContext db)
	{
		pageItem = await db.WardstockOrders
					.Include(x => x.Location)
					.FirstOrDefaultAsync(x => x.Id == Id);
	}

	private async Task LoadPageItem()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		await LoadPageItem(db);
	}
	private Func<mainContext, IQueryable<Drug>> DrugQry =>
		db =>
			db.WardstockItems
					.Where(wi =>
						wi.LocationId == pageItem.LocationId &&
						!db.WardstockOrderitems.Any(oi =>
							oi.OrderId == Id &&
							oi.ItemId == wi.Id))
					.Select(wi => wi.Drug);

	private async Task BeforePrint()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		orderedItems = await db.WardstockOrderitems
				.Where(x => x.OrderId == Id)
				.Include(x => x.Item)
					.ThenInclude(x => x.Drug)
				.ToListAsync();
		comments = await db.WardstockComments
					.Where(x => x.WardstockOrderId == Id)
					.Include(x => x.AuthUser)
					.ToListAsync();

	}

	private async Task<WardstockOrderitem> AddItemClick()
	{
		var selectedDrug = await DialogService.DataGridSelectAsync<Drug>(
						DrugQry, new[] { "Name" }
						, searchColumns: new[] { "Name"}
						);
		if (selectedDrug == null) return null;
		var selectedItem = allAllowedItems.FirstOrDefault(x => x.DrugId == selectedDrug.Id);
		await using var db = await DbFactory.CreateDbContextAsync();
		var existingOpenOrder = await db.WardstockOrderitems
									.Include(x => x.Order)
									.Where(x => x.ItemId == selectedItem.Id
											&& x.OrderId != Id
											&& x.Order.Status != WardstockOrderStatus.Completed.ToString()
									)
									.FirstOrDefaultAsync();
		if (existingOpenOrder is not null)
		{
			NotificationService.Notify(detail: $@"there is already an open order for {selectedDrug.Name}
										(current status: {existingOpenOrder.Order.Status}).
										Click here to go to order.",
										click: x => Nav.NavigateToRelative(existingOpenOrder.Id.ToString(), fromParent: true)
			);
			return null;
		}
		return new WardstockOrderitem
			{
				OrderId = Id,
				ItemId = selectedItem.Id,
				Item = selectedItem
			};
	}

	private async Task OnSendBack()
	{
		if (pageItem.StatusEnum == WardstockOrderStatus.New) return;
		pageItem.SendBack();
		try
		{			
			await DbFactory.UpdateItemAsync(pageItem);
		}
		catch
		{
			NotificationService.Error();
			return;
		}
		NotificationService.Success($"Successfully updated status to {pageItem.Status}");
		var activity = new WardstockActivitylog
		{
			AuthUserId = UserContext.UserProfile.Id,
			WardstockOrderId = Id,
			ActivityAt = DateTime.Now,
			Remarks = $"Status Changed to {pageItem.Status}"
		};
		await DbFactory.UpdateItemAsync(activity);
		StateHasChanged();
	}

	private async Task OnSubmit()
	{
		pageItem.SendForward();
		await DbFactory.UpdateItemAsync(pageItem);
		var activity = new WardstockActivitylog
			{
				AuthUserId = UserContext.UserProfile.Id,
				WardstockOrderId = Id,
				ActivityAt = DateTime.Now,
				Remarks = $"Status Changed to {pageItem.Status}"
			};
		await DbFactory.UpdateItemAsync(activity);
		Nav.NavigateToRelative(fromParent: true);
	}

	private async Task<IEnumerable<WardstockComment>> LoadCommentsAsync()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		return await db.WardstockComments
			.Where(x => x.WardstockOrderId == Id)
			.Include(x => x.AuthUser)
			.OrderBy(x => x.CreatedAt)
			.ToListAsync();
	}

	private WardstockComment CreateComment(string content)
	{
		return new WardstockComment
		{
			WardstockOrderId = Id,
			Comment = content,
			CreatedAt = DateTime.Now,
			AuthUserId = UserContext.UserProfile.Id
		};
	}
}
