@page "/wardstock/{Id:long}"
@using AutoCAC.Models
@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Components.Templates.Printing
@using AutoCAC.Services
@inject IDbContextFactory<mainContext> DbFactory
@inject NavigationManager Nav
@inject UserContextService UserContext
@inject NotificationService NotificationService
@inject IJSRuntime JS
@inject DialogService DialogService
@using AutoCAC.Components.Templates.Buttons

<a href="javascript:history.back()">Back</a>
<LoadingContent LoadState="@(!pageLoaded ? LoadingState.Loading : LoadingState.Loaded)">
	@if(UserType == UserTypes.unauthorized)
	{
		<span>You are not authorized to view this page</span>
	}
	else
	{
		<h3>@($"Order for {currentOrder?.Location?.LocationName}; Current Status: {currentOrder?.Status}; Original Order DateTime: {currentOrder?.OrderDateTime}")</h3>
		<RadzenRow>
			<RadzenColumn Size="7">
				<DataGridEditable TItem="WardstockOrderitem" GridModel="GridModel" 
					AddAction="@(UserType != UserTypes.super && currentOrder.StatusEnum > WardstockOrderStatus.New ? 
									null : AddItemClick)"
					DisableDeletePredicate="@(x => UserType != UserTypes.super)"
					DisableEditPredicate="@(x => SubmitDisabled)"
				>
					<HeaderContent><h3>Items</h3></HeaderContent>
					<ChildContent>
						<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="WardstockItem.Item.DisplayName" 
						Title="Item"/>
						<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="WardstockItem.Item.Par" 
						Title="Par" Width="100px"/>
						<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="QtyOrdered" Title="QtyOrdered"
											  Width="100px">
							<EditTemplate Context="item">
								<RadzenNumeric TValue="double?" @bind-Value="@item.QtyOrdered"
											   Disabled="@(UserType == UserTypes.tech || currentOrder?.StatusEnum != WardstockOrderStatus.New)"
											   Min="0" Max="(decimal?)item?.Item?.Par ?? 0" Style="width: 100%" />
							</EditTemplate>
						</RadzenDataGridColumn>
						<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrderitem" Property="QtyFilled" Title="QtyFilled"
											  Width="100px">
							<EditTemplate Context="item">
								<RadzenNumeric TValue="double?" @bind-Value="@item.QtyFilled"
											   Disabled="@(UserType == UserTypes.nurse || 
												(currentOrder.StatusEnum is not (
													WardstockOrderStatus.Submitted 
													or WardstockOrderStatus.Filled or WardstockOrderStatus.Checked)))"
											   Min="0" Style="width: 100%" />
							</EditTemplate>
						</RadzenDataGridColumn>
					</ChildContent>
				</DataGridEditable>
			</RadzenColumn>
		<RadzenColumn Size="5">
			<CommentTemplate TItem="WardstockComment" CommentQueryFactory="CommentQueryFactory" MapToEntity="MapComment"/>
		</RadzenColumn>
		</RadzenRow>
		@if(UserType == UserTypes.super)
		{
			<RadzenButton ButtonStyle="ButtonStyle.Warning" Text="Send Back" Click="@OnSendBack" Icon="undo" />
		}
		<RadzenButton Text="Submit" Click="@OnSubmit" Icon="check" Disabled="SubmitDisabled" />
		<PrintButton BeforePrint="BeforePrint" />
		<PrintContent>
			<h4>@($"Order for {currentOrder?.Location?.LocationName}")</h4>
			@if (currentOrder.IsFirstStatus)
			{
				<RadzenDataGrid TItem="WardstockItem" Data="allAllowedItems" >
					<Columns>
						<RadzenDataGridColumn Property="DisplayName" Title="Item" Width="250px"/>
						<RadzenDataGridColumn Property="Par" Title="Par" Width="100px" />
					</Columns>
				</RadzenDataGrid>
			}
			else if (orderedItems != null)
			{
				<RadzenDataGrid TItem="WardstockOrderitem" Data="orderedItems" >
					<Columns>
						<RadzenDataGridColumn Property="Item.DisplayName" Title="Item" Width="250px"/>
						<RadzenDataGridColumn Property="QtyOrdered" Title="QtyOrdered" Width="100px" />
						<RadzenDataGridColumn Property="QtyFilled" Title="QtyFilled" Width="100px"/>
					</Columns>
				</RadzenDataGrid>
			}
			<h5>Comments:</h5>
			@if (comments != null)
			{
				foreach(var c in comments)
				{
					<p><span>@c?.Comment</span>
						<i><small>@($@"{
								(!string.IsNullOrWhiteSpace(c?.AuthUser?.LastName) ?
									$"{c?.AuthUser?.LastName}, {c?.AuthUser?.FirstName}" :
									c?.AuthUser?.Username)} @")</small><small>@c?.CreatedAt</small></i>
					</p>
				}
			}

		</PrintContent>
	}
</LoadingContent>
<a href="javascript:history.back()">Back</a>

	@code {
	[Parameter] public long Id { get; set; }
	private bool pageLoaded = false;
	private WardstockOrder currentOrder;
	private List<AutoCAC.Models.WardstockItem> allAllowedItems { get; set; }
	private IEnumerable<WardstockOrderitem> orderedItems;
	private IEnumerable<WardstockComment> comments;
	private enum UserTypes
	{
		super,
		tech,
		nurse,
		unauthorized
	}
	private UserTypes UserType { get; set; }
	private bool SubmitDisabled =>
		(currentOrder?.IsLastStatus == true) ||
		(currentOrder.StatusEnum > WardstockOrderStatus.New && UserType == UserTypes.nurse) ||
		(currentOrder.StatusEnum == WardstockOrderStatus.New && UserType == UserTypes.tech);

	private DataGridHelper<AutoCAC.Models.WardstockOrderitem> GridModel = new()	
		{
			AllowFiltering = false,
			AllowSorting = false,
			AllowGrouping = false,
			AllowColumnReorder = false
		};
	protected override void OnInitialized()
	{
		GridModel.QueryFactory = db => db.WardstockOrderitems
				.Where(x => x.OrderId == Id)
				.Include(x => x.Item)
				.AsQueryable();
	}  
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		await using var db = await DbFactory.CreateDbContextAsync();
		await LoadPageItem(db);
		allAllowedItems = await db.WardstockItems
							.Where(x => x.LocationId == currentOrder.LocationId)
							.OrderBy(x => x.DisplayName)
							.ToListAsync();
		if (UserContext.IsInGroupOrSuperuser("PharmacyTechSupervisor", "PharmacistSupervisor"))
		{
			UserType = UserTypes.super;
		}
		else if (UserContext.IsInGroup("PharmacyTech"))
		{
			UserType = UserTypes.tech;
		}
		else
		{
			var userLocations = await db.WardstockUserlocations.AnyAsync(x => x.LocationId == currentOrder.LocationId && x.AuthUserId == UserContext.UserProfile.Id);
			if (userLocations) UserType = UserTypes.nurse;
			else UserType = UserTypes.unauthorized;
		}
		pageLoaded = true;
		StateHasChanged();
	}

	private async Task LoadPageItem(mainContext db)
	{
		currentOrder = await db.WardstockOrders
					.Include(x => x.Location)
					.FirstOrDefaultAsync(x => x.Id == Id);
	}

	private async Task LoadPageItem()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		await LoadPageItem(db);
	}
	private Func<mainContext, IQueryable<WardstockItem>> ItemChoiceQry =>
		db =>
			db.WardstockItems
					.Where(wi =>
						wi.LocationId == currentOrder.LocationId &&
						!db.WardstockOrderitems.Any(oi =>
							oi.OrderId == Id &&
							oi.ItemId == wi.Id))
					.OrderBy(x => x.DisplayName)
					;

	private async Task BeforePrint()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		if (!currentOrder.IsFirstStatus)
		{			
			orderedItems = await db.WardstockOrderitems
					.Where(x => x.OrderId == Id)
					.Include(x => x.Item)
					.ToListAsync();
		}
		comments = await db.WardstockComments
					.Where(x => x.WardstockOrderId == Id)
					.Include(x => x.AuthUser)
					.ToListAsync();

	}

	private async Task<WardstockOrderitem> AddItemClick()
	{
		var selectedItem = await DialogService.DataGridSelectAsync<WardstockItem>(
						ItemChoiceQry, new[] { "DisplayName" }
						, searchColumns: new[] { "DisplayName"}
						);
		if (selectedItem == null) return null;
		await using var db = await DbFactory.CreateDbContextAsync();
		var existingOpenOrder = await db.WardstockOrderitems
									.Include(x => x.Order)
									.Where(x => x.ItemId == selectedItem.Id
											&& x.OrderId != Id
											&& x.Order.Status != WardstockOrderStatus.Completed.ToString()
									)
									.FirstOrDefaultAsync();
		if (existingOpenOrder is not null)
		{
			var goToExisting = await DialogService.YesNoDialog($@"there is already an open order for {selectedItem.DisplayName}
										(current status: {existingOpenOrder.Order.Status}).
										Click Open to go to order.", "Order Already Exists", "Open");
			if (goToExisting == true)
			{
				Nav.NavigateToRelative(existingOpenOrder.OrderId.ToString(), fromParent: true);
			};
			return null;
		}
		return new WardstockOrderitem
			{
				OrderId = Id,
				ItemId = selectedItem.Id,
				Item = selectedItem
			};
	}

	private async Task OnSendBack()
	{
		if (currentOrder.IsFirstStatus) return;
		currentOrder.SendBack();
		try
		{			
			await DbFactory.UpdateItemAsync(currentOrder);
		}
		catch
		{
			NotificationService.Error();
			return;
		}
		NotificationService.Success($"Successfully updated status to {currentOrder.Status}");
		if (currentOrder.IsFirstStatus)
		{
			await using var db = await DbFactory.CreateDbContextAsync();
			await db.WardstockOrderitems
			.Where(x => x.OrderId == Id)
			.ExecuteUpdateAsync(s => s.SetProperty(x => x.QtyFilled, 0));
		}
		var activity = new WardstockActivitylog
		{
			AuthUserId = UserContext.UserProfile.Id,
			WardstockOrderId = Id,
			ActivityAt = DateTime.Now,
			Remarks = $"Status Changed to {currentOrder.Status}"
		};
		await DbFactory.AddItemAsync(activity);
		StateHasChanged();
	}

	private async Task OnSubmit()
	{
		//await ChatBox.SendUnsubmitted();
		currentOrder.SendForward();
		await DbFactory.UpdateItemAsync(currentOrder);
		var activity = new WardstockActivitylog
			{
				AuthUserId = UserContext.UserProfile.Id,
				WardstockOrderId = Id,
				ActivityAt = DateTime.Now,
				Remarks = $"Status Changed to {currentOrder.Status}"
			};
		await DbFactory.AddItemAsync(activity);
		Nav.NavigateToRelative(fromParent: true);
	}

    private IQueryable<CommentModel> CommentQueryFactory(mainContext db) =>
        db.WardstockComments
          .Where(x => x.WardstockOrderId == Id)
          .Include(x => x.AuthUser)
          .OrderBy(x => x.CreatedAt)
          .Select(x => new CommentModel
          {
              Id = x.Id,
              AuthUser = x.AuthUser,
              CreatedAt = x.CreatedAt,
              Text = x.Comment
          });

    private WardstockComment MapComment(CommentModel m) => new WardstockComment
    {
        Id = m.Id,
        WardstockOrderId = Id,
        Comment = m.Text,
        CreatedAt = m.CreatedAt,
        AuthUserId = m.AuthUser.Id
    };

	private WardstockComment CreateComment(string content)
	{
		return new WardstockComment
		{
			WardstockOrderId = Id,
			Comment = content,
			CreatedAt = DateTime.Now,
			AuthUserId = UserContext.UserProfile.Id
		};
	}
}
