@page "/wardstock"
@using AutoCAC.Models
@using AutoCAC.Components.Templates
@using AutoCAC.Components.Templates.Buttons
@using AutoCAC.Services
@inject IDbContextFactory<mainContext> DbFactory
@inject NavigationManager Nav
@inject NotificationService NotificationService
@inject UserContextService UserContext
@inject DialogService DialogService
<AuthVanilla Path="wardstock/admin">
	<SplitButtonUrlsTemplate ButtonText="Admin"
							 UrlKeyLabelValue="@(new Dictionary<string, string>
							 		{
        								{ "wardstock/admin/users", "Edit Users" },
										{ "wardstock/admin/locations", "Edit Locations" }
    						 		})" />
</AuthVanilla>

<DataGridVanilla TItem="AutoCAC.Models.WardstockOrder" QueryFactory="@Qry()" AddButtonClick="@AddBtnClick" @ref="grid">
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Property="Status" Title="Status" FilterMode="FilterMode.CheckBoxList" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Property="LastModifiedDateTime" Title="LastModifiedDateTime" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Property="Location.LocationName" Title="Location" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Property="Comments" Title="Comments" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Title="Activity">
		<Template Context="a">
			<span style="white-space: wrap">@string.Join("; ", a.WardstockActivitylogs.Select(x => $"{x.Remarks} @ {x.ActivityAt}"))</span>
		</Template>
	</RadzenDataGridColumn>
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Property="OrderDateTime" Title="OrderDateTime" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockOrder" Property="NeededByDateTime" Title="NeededByDateTime" />
	<ActionDefaultColumn TItem="AutoCAC.Models.WardstockOrder"  Grid="@grid.Grid"
	DisableDeleteWhen="@(x => !_isSupervisor && _myLocations?.Contains(x.LocationId) != true)" />
</DataGridVanilla>

@code {
	private int _userId;
	private bool _isPharmacy;
	private bool _isSupervisor;
	private HashSet<int> _myLocations;
	private DataGridVanilla<WardstockOrder> grid;
	protected override async Task OnInitializedAsync()
	{
		_isSupervisor = UserContext.IsInGroupOrSuperuser("PharmacyTechSupervisor", "PharmacistSupervisor");
		_isPharmacy = UserContext.IsInGroup("PharmacyTech", "Pharmacist");
		_userId = UserContext.UserProfile.Id;
		await using var db = await DbFactory.CreateDbContextAsync();
		_myLocations = await db.WardstockUserlocations.Where(x => x.AuthUserId == _userId).Select(x => x.LocationId).ToHashSetAsync<int>();
	}
	private Func<AutoCAC.Models.mainContext, IQueryable<AutoCAC.Models.WardstockOrder>> Qry()
	{
		//make sure to add QueryFactory="@Qry()" to datagrid params
		return db =>
		{
			var q = db.WardstockOrders
			.Include(x => x.Location)
			.Include(x => x.WardstockActivitylogs)
			.OrderByDescending(x => x.LastModifiedDateTime)
			.AsQueryable();
			if (_isSupervisor) return q;
			if (_isPharmacy) return q.Where(x => x.Status != "New");
			if (_myLocations is null || _myLocations.Count == 0) return q.Where(x => false);
			return q.Where(x => _myLocations.Contains(x.LocationId));
		};
	}

	private async Task AddBtnClick()
	{
		var locCount = _myLocations.Count;
		if (locCount == 0) return;
		var newOrder = new WardstockOrder
			{
				LastModifiedDateTime = DateTime.Now,
				Status = "Create"
			};
		int selectedLoc;
		if (locCount == 1)
		{
			selectedLoc = _myLocations.FirstOrDefault();
			newOrder.LocationId = selectedLoc;
		}
		else
		{
			await using var db = await DbFactory.CreateDbContextAsync();
			var locNames = await db.WardstockUserlocations.Where(x => x.AuthUserId == _userId).Select(x => x.Location.LocationName).ToListAsync();
			var selectedName = await DialogService.ListDialogAsync(locNames);
			if (selectedName != null)
			{
				var selectedLocFull = await db.WardstockUserlocations.FirstOrDefaultAsync(x => x.AuthUserId == _userId && x.Location.LocationName == selectedName);
				selectedLoc = selectedLocFull.LocationId;
				newOrder.LocationId = selectedLoc;
			}
		}
		newOrder = await DbFactory.AddItemAsync(newOrder);
		var activity = new WardstockActivitylog
		{
			AuthUserId = UserContext.UserProfile.Id,
			WardstockOrderId = newOrder.Id,
			ActivityAt = DateTime.Now,
			Remarks = $"New Order Created"
		};
		await DbFactory.UpdateItemAsync(activity);
		Nav.NavigateToRelative(newOrder.Id.ToString());
	}
}
