@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@inject DialogService DialogService
@using System.Text
@inject IJSRuntime JS
@inject IDbContextFactory<AutoCAC.Models.mainContext> DbFactory
@inject AutoCAC.Services.UserContextService UserContext
@using AutoCAC.Extensions
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject RPMSService RPMS
@inject TerminalInterop TerminalInterop

<RadzenComponents />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="5">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem" class="rz-px-2">
                    @if (_canAccess is not null)
                    {
                        var parentPath = NavigationManager.GetPath(fromParent: true, includeExistingQry: false);
                        if (parentPath == "")
                        {
                            <RadzenLink Path="" Icon="home" Text="Home" />
                        }
                        else
                        {
                            <RadzenLink Path="@(NavigationManager.GetPath(fromParent: true))" Icon="arrow_upward"
                                        Text="@($"Back to {parentPath}")" />
                        }
                    }
                    <RadzenLink Icon="settings" Path="/settings" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded" id="mainContent">
        <RadzenRow class="rz-mx-auto content-container">
            <RadzenColumn Size="12">
                <LoadingContent IsLoading="@(_canAccess is null)">
                    @if(_canAccess == true)
                    {
                        @Body
                    }
                    else
                    {
                        <p>Access Denied</p>
                    }
                </LoadingContent>
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" style="z-index: 2">
        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <RadzenImage Path="images/logo.png"  style="width: 48px; height: 48px;" AlternateText="Application logo"></RadzenImage>
            <RadzenText Text="AutoCAC" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style="color: var(--rz-sidebar-color);" />
        </RadzenStack>
        <RadzenPanelMenu>
            @if (UserContext.UserLoaded)
            {
                <RadzenPanelMenuItem Text="Home" Path="" Icon="home" />
                <RadzenPanelMenuItem Text="Drug Files" Icon="pill">
                    <AuthPanelItem Text="Drug Enter Edit" Path="drugenteredit" />
                    <AuthPanelItem Text="Benchmark Price Post Install" Path="benchmarkprice" />
                    <RadzenPanelMenuItem Text="Drug Table" Path="drugs" />
                </RadzenPanelMenuItem>
                <AuthPanelItem Text="Supervisors" Icon="supervisor_account" Path="supervisor" NavigateOnClick="false">
                    <RadzenPanelMenuItem Text="Night Shift Rotation" Path="supervisor/inpatient/nightshiftrotation" />
                    <RadzenPanelMenuItem Text="Nurse Compound Training" Path="supervisor/inpatient/NurseCompoundTraining" />
                </AuthPanelItem>
                <AuthPanelItem Text="Inpatient" Icon="inpatient" Path="inpatient" NavigateOnClick="false">
                    <RadzenPanelMenuItem Text="Medication Orders" Path="inpatient/medorder" />
                    <RadzenPanelMenuItem Text="ADT" Path="inpatient/adt" />
                    <AuthPanelItem Text="Precise PK Lookup" Path="inpatient/precisepk" />
                </AuthPanelItem>
                <AuthPanelItem Text="Notes" Path="notes" Icon="notes" />
                <RadzenPanelMenuItem Text="Order Dialogs" Path="/orderdialogs" Icon="action_key" />
                <AuthPanelItem Text="Menu Requests" Path="menubuild" Icon="dashboard" />
                <AuthPanelItem Path="piverify" Icon="credit_card" Text="Private Insurance Verification"/>
                <RadzenPanelMenuItem Text="Ward Stock" Path="/wardstock" Icon="inventory" />
                <AuthPanelItem Text="Tsaile Que" Path="/tsaile" Icon="featured_play_list" />
                <RadzenPanelMenuItem Text="Settings" Icon="settings" >
                    <RadzenPanelMenuItem Text="Search Templates" Path="settings/searchtemplates" />
                    <AuthPanelItem Text="admin" Path="settings/admin" NavigateOnClick="false">
                        <RadzenPanelMenuItem Text="Restricted Pages" Path="settings/admin/restrictpages" />
                        <RadzenPanelMenuItem Text="Lookup Settings" Path="settings/admin/lookupsettings" />
                    </AuthPanelItem>
                </RadzenPanelMenuItem>
            }
            else
            {
                <div style="text-align: center;"><span>Loading...</span></div>
            }
        </RadzenPanelMenu>
        <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="AutoCAC v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Caption" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
            <RadzenText Text="Copyright Ⓒ 2025" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
        </RadzenStack>
    </RadzenSidebar>
</RadzenLayout>
@code {
    bool sidebarExpanded = true;    
    bool rpmsLoadCanceled = false;
    private bool? _canAccess;
    private bool initialLoad = true;
    protected override async Task OnParametersSetAsync()
    {
        if (initialLoad) return;
        await RunOnNav();
    }

    void SidebarToggleClick()
    {
        sidebarExpanded = !sidebarExpanded;
    }

    private DotNetObjectReference<TerminalInterop> _terminalRef;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RunOnNav();
            // create a .NET object reference for THIS circuit's TerminalInterop
            await LoadRPMSXterm();
            StateHasChanged();
        }
        else
        {
            initialLoad = false;
        }
    }

    private async Task LoadRPMSXterm()
    {
        _terminalRef = DotNetObjectReference.Create(TerminalInterop);

        // hand it to JS
        try
        {
            _terminalRef = DotNetObjectReference.Create(TerminalInterop);

            await JS.InvokeVoidAsync("setRPMSDotNetRef", _terminalRef);
            await JS.InvokeVoidAsync("reinitRPMSXterm");
        }
        catch (Exception ex) when (ex is JSDisconnectedException || ex is TaskCanceledException)
        {
            // Happens during prerender OR if user navigated away
            // Let hydration re-run firstRender and try again
            rpmsLoadCanceled = true;
        }
    }

    private async Task RunOnNav()
    {
        _canAccess = null;
        await UserContext.EnsureInitializedAsync();
        await UserContext.LoadAllowedPages();
        _canAccess = UserContext.CanAccess(NavigationManager.GetRelativeUrl());
        if (rpmsLoadCanceled)
        {
            await LoadRPMSXterm();
        }
    }

}
