@using AutoCAC.Models
@using AutoCAC.Common.Alerts
<div class="border rounded p-2 ms-3">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Start">
        @if (!string.IsNullOrWhiteSpace(Node?.NodeType))
        {
            <strong> @Node.NodeType</strong>
        }
		@switch (Node.NodeTypeEnum)
		{
		    case AlertNodeTypeEnum.Modifier:
		        <span> / @Node.FieldName @Node.Operator @Node.Value</span>
		        break;
		    case AlertNodeTypeEnum.Group:
		        <span> / @Node.ChildOperator</span>
		        break;
		    case AlertNodeTypeEnum.ClinicalDefinition:
                <span> / @Node?.ClinicalDefinition?.Name (@Node?.ClinicalDefinition?.Description)</span>
		        break;
		    case AlertNodeTypeEnum.Exists:
		        <span> / @Node.Value</span>
		        break;
		}
        <RadzenButton Text="Edit" Icon="edit" Click="@(() => OnEditClicked())"/>
        <AddRuleNodeButton ParentNode="@Node" AfterAdd="@AfterAdd"/>
    </RadzenStack>

    @if (ChildNodes.Any())
    {
        <RadzenDataList Data="ChildNodes">
            <Template Context="child">
                <AlertDefRuleNodeTree Node="child" AllNodes="AllNodes" AfterAdd="AfterAdd" OnEditNode="OnEditNode" />
            </Template>
        </RadzenDataList>
    }
</div>

@code {
    [Parameter] public AlertDefRuleNode Node { get; set; }
    [Parameter] public List<AlertDefRuleNode> AllNodes { get; set; } = new();

    [Parameter] public EventCallback<AlertDefRuleNode> OnEditNode { get; set; }
    [Parameter] public EventCallback AfterAdd { get; set; }

    private List<AlertDefRuleNode> ChildNodes =>
        AllNodes?
            .Where(x => x.ParentId == Node.Id)
            .OrderBy(x => x.Id)
            .ToList()
        ?? new();
    private async Task OnEditClicked()
    {
        await OnEditNode.InvokeAsync(Node);
    }
}