@typeparam TItem
@typeparam TValue
@using System.Reflection

<RadzenRow Style="width: 100%;">
    <RadzenColumn Size="2">
        <RadzenLabel Component="@_name" Text="@_name"/>
    </RadzenColumn>
    <RadzenColumn Size="10">
        @if (_readOnly)
        {
            <span>@(Property.GetValue(Item)?.ToString() ?? "")</span>
        }
        else if (_actualType.IsEnum)
        {
            <RadzenDropDown TValue="TValue"
                            Name="@_name"
                            Data="@(Enum.GetValues(_actualType).Cast<TValue>())"
                            Value="@Value" AllowClear="@_nullable"
                            ValueChanged="@ValueChanged" />
        }
        else if (_actualType == typeof(DateOnly))
        {
            <RadzenDatePicker TValue="TValue"
                              Name="@_name"
                              Value="@Value" ShowTime="false" ShowTimeOkButton="false"
                              ValueChanged="@ValueChanged" />
        }
        else
        {            
            @switch (Type.GetTypeCode(_actualType))
            {
                case TypeCode.String:
                    <RadzenTextBox Name="@_name"
                                   Value="@ValueString"
                                   ValueChanged="@StringValueChanged"
                                   Style="width:100%" />
                    break;

                case TypeCode.Boolean:
                    <RadzenCheckBox TValue="TValue"
                                    Name="@_name"
                                    Value="@Value"
                                    ValueChanged="@ValueChanged"/>
                    break;

                case TypeCode.DateTime:
                    <RadzenDatePicker TValue="TValue"
                                      Name="@_name"
                                      Value="@Value"
                                      ValueChanged="@ValueChanged" />
                    break;

                case TypeCode.Int16:
                case TypeCode.Int32:
                case TypeCode.Int64:
                case TypeCode.Decimal:
                case TypeCode.Double:
                case TypeCode.Single:
                    <RadzenNumeric TValue="TValue"
                                   Name="@_name"
                                   Value="@Value"
                                   ValueChanged="@ValueChanged" />
                    break;

                default:
                    <RadzenTextBox Name="@_name"
                                   Value="@ValueString"
                                   ValueChanged="@StringValueChanged"
                                   Style="width:100%" />
                    break;
            }
        }
    </RadzenColumn>
</RadzenRow>
<RadzenRow>
    @if(!_readOnly && !_nullable)
    {
            <RadzenRequiredValidator Component="@_name" />
    }
</RadzenRow>
@code {
    [Parameter] public TItem Item { get; set; }
    [Parameter] public PropertyInfo Property { get; set; }
    bool _readOnly;
    bool _nullable;
    string _name;
    private Type _actualType;
    protected override void OnParametersSet()
    {
        _actualType = Nullable.GetUnderlyingType(Property.PropertyType) ?? Property.PropertyType;
        _nullable = !_actualType.IsValueType || Nullable.GetUnderlyingType(_actualType) != null;
        _name = Property.Name;
        _readOnly = Property.SetMethod?.IsPublic != true;
    }

    private TValue Value
    {
        get
        {
            var value = Property.GetValue(Item);
            return value == null ? default : (TValue)value;
        }
    }

    private string ValueString => (string)(Property.GetValue(Item) ?? "");
    private EventCallback<TValue> ValueChanged
        => EventCallback.Factory.Create<TValue>(this, value => Property.SetValue(Item, value));

    private EventCallback StringValueChanged
        => EventCallback.Factory.Create(this, value => Property.SetValue(Item, value));
}