@using AutoCAC.Services
@using AutoCAC.Models
@using AutoCAC.Common
@inject IDbContextFactory<MainContext> DbFactory
@inject UserContextService UserContext
@inject DialogService DialogService
@inject NavigationManager Nav
@typeparam TItem where TItem : class, IActivityLog, new()
@using Microsoft.AspNetCore.Components.Routing
@using AutoCAC.Components.Templates.Printing
@using System.Linq.Expressions;
@if (ConfirmIfUnsubmitted && HasDraft)
{
    <NavigationLock OnBeforeInternalNavigation="ConfirmLeave" ConfirmExternalNavigation="true" />
}
<RadzenCard Variant="Variant.Filled" class="rz-mb-5 rz-mt-0">
    <h4 class="rz-mt-1">@Title</h4>
    <div style="@($"max-height: {MaxHeight}; overflow-y: scroll")">
        <RadzenDataList LoadData="LoadData" Data="data" @ref="dataList" AllowPaging="false"
                        IsLoading="IsLoading" class="datalist-less-padding">
            <Template Context="m">
                <ActivityLogEntry Item="m"
                        CurrentUserId="@(UserContext?.UserProfile?.Id ?? 0)"
                        AllowDeleteAll="AllowDeleteAll"
                        DeleteRequested="DeleteMessageAsync" />
            </Template>
        </RadzenDataList>
    </div>
    <RadzenTemplateForm TItem="string" Data="_newMsg" Submit="@AddMessage" class="rz-mb-0">
        <RadzenRow>
            <RadzenColumn Size="10">
                <RadzenTextBox @bind-Value="_newMsg" class="rz-w-100" @oninput="OnMsgInput"
                                Placeholder="Type comment here (Press enter or click arrow to submit)...." />
            </RadzenColumn>
            <RadzenColumn Size="1">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="send" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenCard>
@if (Print && data != null)
{
    <PrintContent PrintOnly="true">
        <RadzenCard>
            <h5 class="rz-mb-1">Comments:</h5>
            <ul style="list-style-type: none; padding-left: 10px; padding-top: 0px">
                @foreach (var c in data)
                {
                    <li>
                        <strong>@c?.Message</strong>
                        <i>
                            <small>
                                @(c?.AuthUser?.DisplayName)
                            </small><small>@c?.ActivityAt</small>
                        </i>
                    </li>
                }
            </ul>
        </RadzenCard>
    </PrintContent>
}
@code {
    /// <summary>
    /// Allows the caller to set the .Where() predicte for the query to load the activity log. Usually the linked item Id
    /// </summary>
    /// <remarks>
    ///
    /// Example:
    ///
    /// <code>
    /// Filter="x => x.OrderId == Id"
    /// </code>
    /// </remarks>
    [Parameter, EditorRequired] public Expression<Func<TItem, bool>> Filter { get; set; }
    /// <summary>
    /// Allows the caller to configure entity-specific fields on a new activity item. Usually the linked item Id
    /// The component automatically sets:
    /// - ActivityAt
    /// - ActivityType
    /// - Message
    /// - AuthUser
    /// - AuthUserId
    /// </summary>
    /// <remarks>
    ///
    /// Example:
    ///
    /// <code>
    /// ConfigureNewItem="@(x =>
    /// {
    ///     x.WorkOrderId = WorkOrder.Id;
    ///     x.CustomerId = WorkOrder.CustomerId;
    /// })"
    /// </code>
    ///
    /// Example:
    ///
    /// <code>
    /// ConfigureNewItem="@(x => x.OrderId = Id)"
    /// </code>
    /// </remarks>
    [Parameter, EditorRequired] public Action<TItem> ConfigureNewItem { get; set; }
    [Parameter] public string Title { get; set; } = "Activity";
    [Parameter] public bool ConfirmIfUnsubmitted { get; set; } = true;
    [Parameter] public bool Print { get; set; } = false;
    [Parameter] public bool AllowDeleteAll { get; set; } = false;
    [Parameter] public string MaxHeight { get; set; } = "50vh";
    private bool HasDraft = false;
    private RadzenDataList<TItem> dataList;
    private string _newMsg = "";
    private IEnumerable<TItem> data;
    public async Task ReloadAsync() => await dataList.Reload();
    private bool IsLoading;
    private async Task LoadData(LoadDataArgs args)
    {
        IsLoading = true;
        await using var db = await DbFactory.CreateDbContextAsync();
        data = await db.Set<TItem>()
            .Where(Filter)
            .Include(x => x.AuthUser)
            .OrderBy(x => x.ActivityAt)
            .AsNoTracking()
            .ToListAsync();
        IsLoading = false;
    }

    private async Task AddMessage()
    {
        if (string.IsNullOrWhiteSpace(_newMsg)) return;
        var commentType = ActivityLogType.Comment.ToString();
		var msg = _newMsg.Trim();
        var newItem = new TItem()
        {
            ActivityAt = DateTime.Now,
            ActivityType = commentType,
            Message = msg,
            AuthUser = UserContext.UserProfile,
			AuthUserId = UserContext.UserProfile.Id
        };
        ConfigureNewItem(newItem);
        await DbFactory.AddItemAsync(newItem);
        _newMsg = null;
        HasDraft = false;
        await dataList.Reload();
    }

    private async Task DeleteMessageAsync(IActivityLog comment)
    {
        await DbFactory.DeleteItemAsync((TItem)comment);
        await dataList.Reload();
    }

    private async Task ConfirmLeave(LocationChangingContext context)
    {
        if (!HasDraft) return;

        // Stop navigation while we ask
        context.PreventNavigation();

        var save = await DialogService.YesNoDialog(
            "You have an unsubmitted comment, submit now?",
            "Comment not saved",
            "Save",
            "Discard");

        if (save == true)
        {
            await AddMessage();
        }
        else
        {
            HasDraft = false;
        }
        // Continue navigation after handling
        Nav.NavigateTo(context.TargetLocation);
    }

    private void OnMsgInput(ChangeEventArgs e)
    {
        HasDraft = !string.IsNullOrWhiteSpace(e?.Value?.ToString());
    }
}
