@using AutoCAC.Models
@using AutoCAC.Extensions
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject TooltipService TooltipService
@using AutoCAC.Components
@using AutoCAC.Utilities

<RadzenStack>
    <RadzenHeading Size="H5" Text="Select Order Dialog to insert or enter a description in the field at the bottom" />
    <DataGridVanilla @ref="grid" TItem="AutoCAC.Models.OrderDialog" SearchColumns="@(new[] { "Responses", "DisplayText", "Name" })"
    InitialSearchText="@SearchText"
    >
        <ChildContent>
            <RadzenDataGridColumn TItem="AutoCAC.Models.OrderDialog" Property="DisplayText" Title="Display Name" 
            WhiteSpace="WhiteSpace.Wrap" />
            <RadzenDataGridColumn TItem="AutoCAC.Models.OrderDialog" Property="Package" Title="Package" Width="75px"
            FilterMode="FilterMode.CheckBoxList" AllowCheckBoxListVirtualization="false" />

            <RadzenDataGridColumn TItem="AutoCAC.Models.OrderDialog" Property="Type" Title="Type"
            FilterMode="FilterMode.CheckBoxList" AllowCheckBoxListVirtualization="true" Width="75px" />

            <RadzenDataGridColumn TItem="AutoCAC.Models.OrderDialog" Property="Name" Title="Name" WhiteSpace="WhiteSpace.Wrap" />
            <RadzenDataGridColumn TItem="OrderDialog" Filterable="false" Sortable="false" Width="75px">
                <Template Context="dialog">
                    <RadzenButton Icon="check" Text="Select" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary"
                    Click="@(() => SelectDialog(dialog))" />
                </Template>
            </RadzenDataGridColumn>

        </ChildContent>
        <ExpandContentView Context="q">
            @if (q.ParsedItems is List<ResponseItem> responses)
            {
                @foreach (var item in responses)
                {
                    if (!string.IsNullOrWhiteSpace(item.Value) || !string.IsNullOrWhiteSpace(item.Text))
                    {
                        <div>
                            <strong>@item.Dialog.Replace("OR GTX ", "")</strong>:
                            <span style="white-space: normal">@(!string.IsNullOrWhiteSpace(item.Value) ? item.Value : item.Text)</span>
                        </div>
                    }
                }                
            }
        </ExpandContentView>
    </DataGridVanilla>
    <RadzenRow>
        <RadzenColumn Size="4">
            <RadzenLabel Text="Placeholder text"></RadzenLabel>
        </RadzenColumn>
        <RadzenColumn Size="8"> 
            <RadzenTextBox
            Name="Txt"
            @bind-Value="placeholderField.MenuTxt" 
            Style="width:100%"
            MaxLength="@placeholderField.MaxLength"
            />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="4">
            <RadzenLabel Text="Placeholder Extended text"></RadzenLabel>
        </RadzenColumn>
        <RadzenColumn Size="8">
            <RadzenTextBox
            Name="ExtndTxt"
            @bind-Value="placeholderField.ExtendedTxt" 
            Style="width:100%"
            />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenButton Icon="cancel" Text="Cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"
        Click="CloseDialog" />
        <RadzenButton Text="Create PlaceHolder" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary"
        Click="CreatePlaceholder" />
    </RadzenRow>
</RadzenStack>

@code {
    private DataGridVanilla<AutoCAC.Models.OrderDialog> grid;
    [Parameter] public string SearchText { get; set; }
    [Parameter] public PlaceholderField placeholderField { get; set; }

    private Func<AutoCAC.Models.mainContext, IQueryable<AutoCAC.Models.OrderDialog>> Qry()
    {
        return db =>
        {
            return db.OrderDialogs.AsQueryable().AsNoTracking();
        };
    }

    private void SelectDialog(OrderDialog selected)
    {
        DialogService.Close(selected);
    }

    private void CreatePlaceholder()
    {
        DialogService.Close(placeholderField);
    }

    private void CloseDialog()
    {
        DialogService.Close(null);
    }

}