@page "/orderdialogs/{Id:int}"
@using AutoCAC.Components.Templates.Buttons
@using AutoCAC.Models
@inject IDbContextFactory<MainContext> DbFactory
@using System.Collections.Generic
@using System.Text.Json
@using Radzen.Blazor.Rendering
@inject UserContextService User
@inject NavigationManager Nav
@inject DialogService Dialogs
@inject RPMSService RPMS
<LoadingContent LoadState="@(item == null ? LoadingState.Loading : LoadingState.Loaded)">
	<h3>@($"Order Dialog Details for {item?.DisplayText} ({item?.Name})")</h3>
	<span>@($"IEN: {item?.Id}")</span>
	@if(IsMenu)
	{
		<RadzenRow>
			<RadzenButton Text="Request Changes to this Menu" Click="MenuEdit" IsBusy="menuEditBusy"/>
		</RadzenRow>
	}
	@if(User?.UserProfile?.IsSuperuser == true && item?.UseItemsList == true)
	{
		<RadzenRow>
			<RadzenButton Click="ClearContentsInRpms" Text="@($"Clear Contents of {item?.Name} in RPMS")" ButtonStyle="ButtonStyle.Danger"/>
		</RadzenRow>
		<RPMSOutput />
	}
	<RadzenCard>
		<h4>Found In</h4>
		@if(foundIn == null || foundIn.Count() == 0)
		{
			<span>@($"No menus contain {item?.DisplayText} ({item?.Name})")</span>
		}
		else
		{
			<RadzenDataList Data="@foundIn">
				<Template Context="x">
					<RadzenLink Text="@($"{x?.DisplayText} ({x?.Name})")" Path="@($"/orderdialogs/{x?.Id}")" />
				</Template>
			</RadzenDataList>
		}

	</RadzenCard>
	<RadzenCard class="rz-mt-5">
		<h3>Contents</h3>
		<OrderDialogChildComponents ParentDialog="item" />
	</RadzenCard>
</LoadingContent>

@code {
	[Parameter] public int Id { get; set; }
	OrderDialog item;
	bool IsMenu => item?.Type.Equals("menu", StringComparison.OrdinalIgnoreCase) == true;
	bool menuEditBusy;
	IEnumerable<OrderDialog> foundIn;
	HashSet<string> itemsTypes = new HashSet<string>(StringComparer.OrdinalIgnoreCase) { "dialog", "menu", "order set" };
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await using var db = await DbFactory.CreateDbContextAsync();
			item = await db.OrderDialogs.FirstOrDefaultAsync(x => x.Id == Id);
			HashSet<int> menuHash = await db.OrderMenus
							.Where(x => x.OrderDialogId == item.Id)
							.Select(x => x.Id)
							.ToHashSetAsync();
			foundIn = await db.OrderDialogs.Where(x => menuHash.Contains(x.Id)).ToListAsync();
			StateHasChanged();
		}
	}
	private async Task MenuEdit()
	{
		menuEditBusy = true;
		StateHasChanged();
		await using var db = await DbFactory.CreateDbContextAsync();
		var menuRequest = await db.MenuBuildMeta.FirstOrDefaultAsync(x => x.ExistingMenu == Id);
		if (menuRequest == null)
		{
			menuRequest = new MenuBuildMetum()
								{
									ExistingMenu = Id,
									DisplayText = item.DisplayText,
									Name = item.DisplayText,
									Columns = item.Columns,
									CreatedBy = User.Username
								};
			await db.AddItemAsync<MenuBuildMetum>(menuRequest);
			await db.SaveChangesAsync();
			FormattableString sql = $@"Insert Into MenuBuild ([Menu_id], [Item_id], [Mnemonic], [DisplayText], [DisplayOnly], [RowNum], [ColNum])
                                          SELECT {menuRequest.Id} Menu_id ,[ChildOrderDialogId] Item_id, [Mnemonic], [DisplayText], [DisplayOnly], [RowNum], [ColNum]
										  FROM [OrderDialogItem]
                                          Where ParentOrderDialogId={Id}";
			await DbFactory.ExecuteSqlAsync(sql);
		}
		menuEditBusy = false;
		Nav.NavigateTo($"menubuild/{menuRequest.Id}");
	}
	private async Task DeactivateInRpms()
	{
		var ok = await Confirm("deactivate");
		if (!ok) return;
	}
	private async Task RecordActivity(string msg)
	{
		var rpmsactivity = new RpmsactivityLog()
		{
			AuthUserId = User.UserProfile.Id,
			ActivityAt = DateTime.Now,
			ActivityDescription = msg
		};
		await DbFactory.AddItemAsync<RpmsactivityLog>(rpmsactivity);
	}
	private async Task ClearContentsInRpms()
	{
		if (!User.UserProfile.IsSuperuser) return;
		var ok = await Confirm("clear contents of");
		if (!ok) return;
		await RecordActivity($"Cleared contents of Order dialog ien {item.Id} in RPMS");
		await RPMS.ClearOrderDialogContents(Id);
		StateHasChanged();
	}
	private async Task RemoveOccurencesInRPMS()
	{
		var ok = await Confirm("remove all occurences of");
		if (!ok) return;
	}
	private async Task<bool> Confirm(string actionStr)
	{
		var msg = $"Are you sure you wish to continue? This will {actionStr} {item.Name} in RPMS and your windows username will be logged";
		bool ok = await Dialogs.YesNoDialog("Clear Contents in RPMS?", msg) ?? false;
		return ok;
	}
}
