@inject DialogService DialogService
@using AutoCAC.Components

<RadzenTemplateForm Data="@Model" TItem="MenuBuildEdit.TextField" Submit="@HandleValidSubmit">
    <ChildContent>
        <RadzenLabel Text="Display Text" Component="Txt" />
        <RadzenTextBox @bind-Value="Model.Txt"
                       Name="Txt"
                       MaxLength="@Model.MaxLength"
                       Style="width:100%"
                       Placeholder="Enter display text" />
        <RadzenLengthValidator Component="Txt" Max="@Model.MaxLength" Min="1" Text="Text too long." Style="position: absolute" />

        <div class="rz-mt-3">
            <RadzenCheckBox @bind-Value="Model.Header" />
            <label class="rz-px-2">Is Header</label>
        </div>

        <div class="rz-mt-4">
            <RadzenButton ButtonType="ButtonType.Submit" Text="OK" Style="margin-right: 10px;" />
            <RadzenButton ButtonType="ButtonType.Button" Text="Cancel" Click="@(() => DialogService.Close(null))" />
        </div>
    </ChildContent>
</RadzenTemplateForm>

@code {
    [Parameter] public MenuBuildEdit.TextField Model { get; set; }

    private void HandleValidSubmit(MenuBuildEdit.TextField value)
    {
        DialogService.Close(value);
    }
}

