@page "/blisterpack"
@using AutoCAC.Components.Templates.ActivityLogs
@using AutoCAC.Models
@inject IDbContextFactory<MainContext> DbFactory
@inject DialogService DialogService
@inject UserContextService UserContext
@inject NavigationManager Nav
@using AutoCAC.Common
@inject ActivityLogService ActivityLogService
<PageTitle>Blister Packs</PageTitle>
<h3>Blister Packs</h3>
<DataGridVanilla TItem="BlisterPackFill" GridModel="GridModel">
	<HeaderContent>
		<RadzenButton Text="Add New Fill" Click="@(() => Nav.NavigateTo("/blisterpack/patient"))" Icon="add_circle" ButtonStyle="ButtonStyle.Success" />
	</HeaderContent>
	<ChildContent>
		<RadzenDataGridColumn TItem="BlisterPackFill" Property="BlisterPackPatient.Patient" Title="Patient">
			<Template Context="x">
				<RadzenButton Text="@($"{x?.BlisterPackPatient?.Patient?.Name} ({x?.BlisterPackPatient?.Patient?.ChartNumber})")" 
							  Click="@(() => Nav.NavigateToRelative($"patient/{x.BlisterPackPatient?.PatientId}"))"
					Variant="Variant.Text" Icon="person"/>
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="BlisterPackFill" Property="@nameof(BlisterPackFill.FillDate)" Title="Fill Date"/>
		<RadzenDataGridColumn TItem="BlisterPackFill" Property="@nameof(BlisterPackFill.SerialNumbers)" Title="Serial Numbers" />
		<RadzenDataGridColumn TItem="BlisterPackFill" Property="@nameof(BlisterPackFill.Status)" Title="Status" />
		<RadzenDataGridColumn TItem="BlisterPackFill" Property="BlisterPackFillActivities" Title="Activity" Sortable="false">
			<Template Context="x">
				@if (x?.BlisterPackFillActivities?.Any() == true)
				{
					<RadzenCardGroup >
						<ActivityLogReadOnly Data="x.BlisterPackFillActivities"/>
					</RadzenCardGroup>
				}
			</Template>
		</RadzenDataGridColumn>
	</ChildContent>
</DataGridVanilla>
@code {
	DataGridHelper<BlisterPackFill> GridModel = new()
	{
		QueryFactory = db => db.BlisterPackFills
						.Include(x => x.BlisterPackFillActivities)
							.ThenInclude(x => x.AuthUser)
						.Include(x => x.BlisterPackPatient)
							.ThenInclude(x => x.Patient),
		AllowColumnPicking = false,
		AllowColumnReorder = false,
		AllowGrouping = false,
		ShowTemplates = false,
		ShowDownloadButton = false,
		SearchColumns = new[] { "BlisterPackPatient.Patient.Name", "BlisterPackPatient.Patient.ChartNumber" }
	};
	private async Task AddPatient()
	{
		var today = DateTime.Now.DateOnly;
		var patient = await DialogService.PatientSelectDialogAsync();
		if (patient == null) return;
		var newPatient = new BlisterPackPatient
		{
			PatientId = patient.Id,
			EnrolledDate = today
		};
		await DbFactory.AddItemAsync(newPatient);
		await ActivityLogService.CreatedAsync<BlisterPackPatientActivity>(UserContext.UserProfile.Id, x => x.BlisterPackPatientId = newPatient.PatientId);
		Nav.NavigateToRelative($"patient/{newPatient.PatientId}");
	}
}
