@using AutoCAC.Services
@using AutoCAC.Models
@inject IDbContextFactory<mainContext> Db
@inject UserContextService UserContext
@inject DialogService DialogService
@inject NavigationManager Nav
@typeparam TItem where TItem : class
@using Microsoft.AspNetCore.Components.Routing
@using AutoCAC.Components.Templates.Printing
@if (ConfirmIfUnsubmitted && HasDraft)
{
    <NavigationLock OnBeforeInternalNavigation="ConfirmLeave" ConfirmExternalNavigation="true" />
}
<h4>@Title</h4>
<div class="rz-chat">
    <RadzenDataList TItem="CommentModel" LoadData="LoadData" Data="data" @ref="dataList" AllowPaging="false"
                    IsLoading="IsLoading">
        <Template Context="m">
            @{
                bool isCurUser = m.IsCurrentUser(UserContext?.UserProfile?.Id);
            }
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="@(isCurUser ? AlignItems.End : AlignItems.Start)"
                         class="@($"rz-chat-message {(isCurUser ?
                                         "rz-chat-message-user" : "rz-chat-message-participant")}")">
                <RadzenRow class="rz-my-0">
                    @if (!isCurUser)
                    {
                        <div class="rz-chat-message-participant-name">
                            @(
                                                    !string.IsNullOrWhiteSpace(m?.AuthUser?.LastName) ?
                                                    m?.AuthUser.Username :
                                                    $"{m?.AuthUser?.LastName}, {m?.AuthUser?.FirstName}")
                        </div>
                    }
                    <div class="rz-chat-message-time">@m.CreatedAt.ToString("MM/dd/yyyy HH:mm")</div>
                    @if (isCurUser)
                    {
                        <RadzenButton Icon="delete"
                                      Size="ButtonSize.ExtraSmall"
                                      ButtonStyle="ButtonStyle.Danger"
                                      ButtonType="ButtonType.Button" Variant="Variant.Text"
                                      Click="@(async () => await DeleteMessageAsync(m))" />
                    }
                </RadzenRow>
                <RadzenRow class="rz-my-0">
                    <p class="rz-chat-message-text rz-my-0"
                       style="
                        white-space: pre-wrap;
                        overflow-wrap: anywhere;
                        word-break: break-word;
                        max-width: 100%;">
                        @m.Text
                    </p>
                </RadzenRow>
            </RadzenStack>
        </Template>
    </RadzenDataList>
</div>
<RadzenTemplateForm TItem="string" Data="_newMsg" Submit="@AddMessage" class="rz-mb-5">
    <RadzenRow>
        <RadzenColumn Size="10">
            <RadzenTextBox @bind-Value="_newMsg" class="rz-w-100" @oninput="OnMsgInput"
                            Placeholder="Type comment here (Press enter or click arrow to submit)...." />
        </RadzenColumn>
        <RadzenColumn Size="1">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="send" />
        </RadzenColumn>
    </RadzenRow>
</RadzenTemplateForm>
@if (Print && data != null)
{
    <PrintContent PrintOnly="true">
        <RadzenCard>
            <h5 class="rz-mb-1">Comments:</h5>
            <ul style="list-style-type: none; padding-left: 10px; padding-top: 0px">
	            @foreach(var c in data)
	            {
		            <li><span>@c?.Text</span>
			            <i><small>@($@"{
					            (!string.IsNullOrWhiteSpace(c?.AuthUser?.LastName) ?
						            $"{c?.AuthUser?.LastName}, {c?.AuthUser?.FirstName}" :
						            c?.AuthUser?.Username)} @")</small><small>@c?.CreatedAt</small></i>
		            </li>
	            }
            </ul>
        </RadzenCard>
    </PrintContent>
}
@code {
    [Parameter, EditorRequired] public Func<mainContext, IQueryable<CommentModel>> CommentQueryFactory { get; set; }
    [Parameter, EditorRequired] public Func<CommentModel, TItem> MapToEntity { get; set; }
    [Parameter] public string Title { get; set; } = "Comments";
    [Parameter] public bool ConfirmIfUnsubmitted { get; set; } = true;
    [Parameter] public bool Print { get; set; } = false;
    private bool HasDraft = false;
    private RadzenDataList<CommentModel> dataList;
    private string _newMsg = "";
    private IEnumerable<CommentModel> data;
    private bool IsLoading;
    private async Task LoadData(LoadDataArgs args)
    {
        IsLoading = true;
        await using var db = await Db.CreateDbContextAsync();
        data = await CommentQueryFactory(db).AsNoTracking().ToListAsync();
        IsLoading = false;
    }

    private async Task AddMessage()
    {
        if (string.IsNullOrWhiteSpace(_newMsg)) return;
        var newComment = new CommentModel()
        {
            CreatedAt = DateTime.Now,
            Text = _newMsg,
            AuthUser = UserContext.UserProfile
        };

        var newItem = MapToEntity.Invoke(newComment);
        await Db.AddItemAsync(newItem);
        _newMsg = null;
        HasDraft = false;
        await dataList.Reload();
    }

    private async Task DeleteMessageAsync(CommentModel comment)
    {
        var ok = await DialogService.DeleteConfirm(customMessage: "Delete this message?");
        if (ok != true) return;
        var entityObject = MapToEntity(comment);
        await Db.DeleteItemAsync(entityObject);
        await dataList.Reload();
    }

    private async Task ConfirmLeave(LocationChangingContext context)
    {
        if (!HasDraft) return;

        // Stop navigation while we ask
        context.PreventNavigation();

        var save = await DialogService.YesNoDialog(
            "You have an unsubmitted comment, submit now?",
            "Comment not saved",
            "Save",
            "Discard");

        if (save == true)
        {
            await AddMessage();
        }
        else
        {
            HasDraft = false;
        }
        // Continue navigation after handling
        Nav.NavigateTo(context.TargetLocation);
    }

    private void OnMsgInput(ChangeEventArgs e)
    {
        HasDraft = !string.IsNullOrWhiteSpace(e?.Value?.ToString());
    }
}
