@page "/tsaile/{Id:int}"

@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Components.Templates.Buttons
@using AutoCAC.Components.Tsaile
@using AutoCAC.Models
@inject IDbContextFactory<mainContext> DbFactory
@using AutoCAC.Services
@inject UserContextService UserContext
@inject NavigationManager Nav
@inject NotificationService Notifications
@inject DialogService DialogService

<BackLink />
<LoadingContent IsLoading="@(item == null)">
	<h3>@($"Ticket for {item?.Patient?.Name} ({item?.Patient?.ChartNumber})")</h3>
	<p>@($"Current status: {item?.Status}")</p>
	@if(item?.Waiting == true)
	{
		<p class="rz-color-warning">Waiter</p>
	}
	else
	{
		<p>Non-Waiter</p>
	}
	@if (item?.ControlledSubstance == true)
	{
		<p class="rz-color-warning">Order Has Controlled Substances</p>
	}
	else
	{
		<p>No Controlled Substances in order</p>
	}
	@if (item?.NeedsCounseling == true)
	{
		<p class="rz-color-warning">Needs Counseling (new or changed medication)</p>
	}
	else
	{
		<p>Refill only</p>
	}
	<OpenDialogFormButton TItem="TsaileBetterq" Data="item" Title="Edit Attributes" Context="x" OnClose="LoadAndStateHasChanged" >
		<VanillaFormField Label="Waiter">
			<RadzenCheckBox @bind-Value="x.Waiting"/>
		</VanillaFormField>
		<VanillaFormField Label="Controlled Substance">
			<RadzenCheckBox @bind-Value="x.ControlledSubstance"/>
		</VanillaFormField>
		<VanillaFormField Label="Needs Counseling">
			<RadzenCheckBox @bind-Value="x.NeedsCounseling"/>
		</VanillaFormField>
	</OpenDialogFormButton>
	<CommentTemplate TItem="TsaileComment" CommentQueryFactory="CommentQueryFactory" MapToEntity="MapComment" />
	<SplitButtonTemplate Buttons="@BuildButtons()" 
			DefaultButtonValue="@(item?.StatusEnum == TsaileTicketStatus.Complete ? "Back" : "Submit")" />
</LoadingContent>
@code{
	[Parameter] public int Id { get; set; }
	private TsaileBetterq item { get; set; }
	private int _userId { get; set; } = 0;
	string defaultButtonValue;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadItem();
			defaultButtonValue = item?.StatusEnum switch
			{
				TsaileTicketStatus.Complete => "Back",
				_ => "Submit"
			};
			_userId = UserContext.UserProfile.Id;
			StateHasChanged();
		}
	}
	private async Task SaveAndSubmit()
	{
		await item.AdvanceStatusAndSaveAsync(DbFactory, _userId);
		Notifications.Success("Successfully saved ticket");
		Nav.NavigateToRelative(fromParent: true);
	}

	private async Task SaveAttributes(TsaileBetterq dialogData)
	{
		if (dialogData != null)
		{
			await DbFactory.UpdateItemAsync<TsaileBetterq>(dialogData);
			Notifications.Success("Successfully saved attributes");
		}
		await LoadItem();
		StateHasChanged();
	}

	private async Task LoadItem()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		item = await db.TsaileBetterqs.Include(x => x.Patient).FirstOrDefaultAsync(x => x.Id == Id);
	}

	private async Task LoadAndStateHasChanged()
	{
		await LoadItem();
		StateHasChanged();
	}

	private IQueryable<CommentModel> CommentQueryFactory(mainContext db) =>
		db.TsaileComments
		  .Where(x => x.TsaileBetterqId == Id)
		  .Include(x => x.AuthUser)
		  .OrderBy(x => x.CreatedAt)
		  .Select(x => new CommentModel
		  {
			  Id = x.Id,
			  AuthUser = x.AuthUser,
			  CreatedAt = x.CreatedAt,
			  Text = x.Remarks
		  });

	private TsaileComment MapComment(CommentModel m) => new TsaileComment
	{
		Id = (int)m.Id,
		TsaileBetterqId = Id,
		Remarks = m.Text,
		CreatedAt = m.CreatedAt,
		AuthUserId = m.AuthUser.Id
	};

	IEnumerable<SplitButtonItem> BuildButtons() => new[]
	{
		new SplitButtonItem
		{
			Text = "Submit",
			Value = "Submit",
			Icon = "arrow_forward",
			IconColor = Colors.Success,
			Disabled = () => item?.Status == TsaileTicketStatus.Complete.ToString(),
			Action = async () =>
			{
				await item?.AdvanceStatusAndSaveAsync(DbFactory, _userId);
				await LoadItem();
				Notifications.Success($"Status updated to {item?.Status}");
				StateHasChanged();
			}
		},
		new SplitButtonItem
		{
			Text = "Move Back",
			Value = "Back",
			Icon = "arrow_back",
			IconColor = Colors.WarningLight,
			Disabled = () => item?.Status == TsaileTicketStatus.Screening.ToString(),
			Action = async () =>
			{
				await item?.ReverseStatusAndSaveAsync(DbFactory, _userId);
				await LoadItem();
				Notifications.Success($"Status updated to {item?.Status}");
				StateHasChanged();
			}
		},
		new SplitButtonItem
		{
			Text = "Change Status",
			Value = "ChangeStatus",
			Icon = "edit",
			IconColor = Colors.Info,
			Action = async () =>
			{
				string newStatus = await DialogService.ListDialogAsync(Enum.GetNames<TsaileTicketStatus>().ToHashSet());
				if (newStatus == null) return;
				await item?.UpdateStatusAsync(DbFactory, newStatus, _userId);
				await LoadItem();
				Notifications.Success($"Status updated to {item?.Status}");
				StateHasChanged();
			}
		},
		new SplitButtonItem
		{
			Text = "Delete Record",
			Value = "Delete",
			Icon = "delete",
			IconColor = Colors.Danger,
			Action = async () =>
			{
				var confirm = await DialogService.DeleteConfirm("Ticket");
				if (confirm == true)
				{
					await item?.UpdateStatusAsync(DbFactory, TsaileTicketStatus.Deleted.ToString(), _userId);
					Notifications.Success($"Sent to Deleted table (admin can permanently delete from there)");
					Nav.NavigateToRelative(fromParent: true);
				}
			}
		}
	};
}

